<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Private</title>
</head>
<body>
    <main>
        <p>Username: {{reqbody.username}}</p>
        <p>First Name: {{reqbody.firstName}}</p>
        <p>Last Name: {{reqbody.lastName}}</p>
        <p>Profession: {{reqbody.profession}}</p>
        <p>Bio: {{reqbody.bio}}</p>
        <p><a href="/logout">Logout</a></p>
    </main>
</body>